Package: com.cactusutils.ytnouploadbutton
Name: YTNoUploadButton
Version: 0.0.1
Architecture: iphoneos-arm
Description: Remove the upload button from the YouTube app.
Maintainer: Michael Winay
Author: Michael Winay
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
